<div class="container-fluid">
  <div class="container">
    <div class="reg">
      <h1>Register</h1>
      <small class="error" *ngIf="duplicate">User already exists.</small>
      <small class="success" *ngIf="registered">Registration succeeded.</small>
      <form (ngSubmit)="register(registerForm)" #registerForm="ngForm">
        <div class="form-group">
          <label for="username">Username:</label>
          <input [(ngModel)]="user.username" name="username" type="text" #username="ngModel" required minlength="4" #username="ngModel">
          <div class="error_window">
            <div *ngIf="username.errors && username.touched">
              <small *ngIf="username.errors.required">*required</small>
              <small *ngIf="username.errors.minlength">Username must be at least 4 characters.</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input [(ngModel)]="user.password" name="password" type="password" #password="ngModel" required minlength="8">
          <div class="error_window">
            <div *ngIf="password.errors && password.touched">
              <small *ngIf="password.errors.required">*required</small>
              <small *ngIf="password.errors.minlength">Password must be at least 8 characters.</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password_confirm">Confirm Password:</label>
          <input [(ngModel)]="user.password_confirm" name="password_confirm" type="password" required minlength="8" #confirm="ngModel">
          <div class="error_window">
            <div *ngIf="confirm.errors && confirm.touched">
              <small *ngIf="confirm.errors.required">*required</small>
              <small *ngIf="confirm.errors.minlength">Password must be at least 8 characters.</small>
            </div>
            <div *ngIf="!confirm.errors && user.password !== user.password_confirm">
              <small>Password and confirmation do not match.</small>
            </div>
          </div>
          <!-- <div class="error_window">
          </div> -->
        </div>
        <button [disabled]="registerForm.invalid || user.password !== user.password_confirm" class="btn btn-outline-primary btn-lg btn-block">Submit</button>
      </form>
    </div>

    <div class="login">
      <h1>Login</h1>
      <small *ngIf="wrongLogin">Invalid login information.</small>
      <form #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm)">
        <div class="form-group">
          <label for="login_username">Username:</label>
          <input [(ngModel)]="login.username" name="login_username" type="text" required #loginName="ngModel">
          <div class="error_window">
            <div *ngIf="loginName.errors && loginName.touched">
              <small *ngIf="loginName.errors?.required">*required</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="login_password">Password:</label>
          <input [(ngModel)]="login['password']" name="login_password" type="password" required #loginPassword="ngModel">
          <div class="error_window">
            <div *ngIf="loginPassword.errors && loginPassword.touched">
              <small *ngIf="loginName.errors?.required">*required</small>
            </div>
          </div>
        </div>
        <button [disabled]="loginForm.invalid" class="btn btn-outline-primary btn-lg btn-block">Submit</button>
      </form>
    </div>
  </div>
</div>