/* You can add global styles to this file, and also import other style files */
body {
    /* background: #466368; */
    /* background: linear-gradient(to right bottom, #30bced, #474350);
    /* height: 1000px; */
    background: #648880;
    /* background: linear-gradient(to bottom right, #0b0c0c, #3d3d3d, #0b0c0c); */
    background: radial-gradient(circle, rgba(246,166,240,1) 0%, rgba(107,139,177,1) 100%);
    overflow: auto;
}